<% provide(:title, "クイズ") %>

<div class="jumbotron bg-white text-center">
  <h1 style="font-family: 'けいふぉんと';">クイズに挑戦！</h1>
  <p class="my-5">
    投稿された問題の中からランダムに10問出題します
  </p>
  <%= link_to "スタート", quizzes_path, method: :post, class: "btn btn-primary btn-lg" %>
</div>

<div>
  <%= image_tag "/chopper.png", alt: "chopper", width: 200 %>
</div>