<%= form_with(model: current_user.likes.find_by(post_id: post.id),
              method: :delete, local: false) do |f| %>

<button type="submit" class="px-0 border-0 bg-transparent">
  <small class="fas fa-heart text-danger"></small>
</button>

<small class="pl-1 text-danger"><%= post.liked_users.count %></small>
<% end %>