<% provide(:title, "ユーザー一覧") %>

<h2>ユーザー一覧</h2>

<div class="row justify-content-center mt-4">
  <div class="col-md-8 col-lg-6">
    <ul>
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </div>
</div>