<div class="jumbotron bg-white text-center">
  <h1 style="font-family: 'けいふぉんと';">OnePieceQuiz</h1>
  <h5>－ナレッジキング対策－</h5>
  <p class="my-5">
    ONE PIECEに関するクイズを投稿、閲覧できるサービスです<br>
    ナレッジキングに向けてみんなで知識を深め合いましょう！
  </p>
  <%= link_to "新規登録", signup_path, class: "btn btn-primary btn-lg" %>
  <p class="mt-2"><%= link_to "OnePieceQuizとは", about_path %></p>
</div>

<div class="text-center">
  <%= image_tag "/santaisyou.png", alt: "santaisyou", width: 300 %>
</div>