<div class="jumbotron text-center" style="background-color: rgba(233,236,239,0.9)">
  <h1>OnePieceQuiz</h1>
  <h4>－ナレッジキング対策－</h4>
  <p class="my-5">
    ONE PIECEに関するクイズを投稿、閲覧できるサービスです<br>
    ナレッジキングに向けてみんなで知識を深め合いましょう！
  </p>
  <%= link_to "新規登録", signup_path, class: "btn btn-primary btn-lg" %>
</div>