<% provide(:title, "投稿一覧") %>

<div class="row justify-content-center mt-3">
  <div class="col-md-10 col-lg-8">
    <ul>
      <%= render @posts, key: "no_comment" %>
    </ul>
    <%= paginate @posts %>
  </div>

  <div class="modal fade pr-0" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-4">
        <div>
          <button class="close pr-sm-2" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <%= render "search_form" %>
        </div>
      </div>
    </div>
  </div>
</div>